:root{
    --color-primary: #8d99ae;
    --color-secondary: #2b2d42;
    --color-accent: #ef233c;
    --color-heading: #edf2f4;
    --color-headingDarker: #d90429;
}

html {
    font-size: 62.5%;
}

body{
background-image: url('/images/background.jpg');
background-repeat: no-repeat;
background-size: cover;
color: var(--color-secondary);
font-family: 'Rubik Dirt', cursive;
/* scroll bla */
font-size: 2rem;
}

.headings{
    margin: 1rem;
    font-size: 3rem;
    color: var(--color-heading);
    font-family: 'Bebas Neue', cursive;
}

/* Nav Bar */
.navBar{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-accent);
    color: var(--color-heading);
    flex-direction: row;
}

.logo{
    margin: 1rem;
}
.navRight{
    display: flex;
    list-style: none;
    align-items: center;
}
.navLink{
    text-decoration: none;
    color: var(--color-heading);
    padding: 1rem;
}

.navLink:hover{
    transform: scale(1.1);
    transition: all 0.2s;
    text-decoration: ;
}
/* Projects */
.projectBox{
    
}
.projects{
    width: 80%;
    display: grid;
    margin: auto;
    grid-template-columns: auto auto;
    margin: 2rem auto;
    gap: 1rem;
}
.project{
    
    background: var(--color-secondary);
    
    margin: 0rem 1rem;
    object-fit: contain;
    height: 95.5%;
    border: 0.5rem solid var(--color-headingDarker);

}
.project img{
    width: 100%;
}
.project:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}
